<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678355429347-efurhdqti4j5669f17ju6h90hdmipfl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678355429347-efurhdqti4j5669f17ju6h90hdmipfl0</string>
	<key>API_KEY</key>
	<string>AIzaSyBR9qf8AYdzx_VjKTW65K5ZcSiMScuU714</string>
	<key>GCM_SENDER_ID</key>
	<string>678355429347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oc.onecard</string>
	<key>PROJECT_ID</key>
	<string>app-onecard</string>
	<key>STORAGE_BUCKET</key>
	<string>app-onecard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678355429347:ios:4612f3c6b7f94543</string>
	<key>DATABASE_URL</key>
	<string>https://app-onecard.firebaseio.com</string>
</dict>
</plist>